*{
    padding: 0;
    margin: 0;
    overflow-x:hidden;
    overflow-y: hidden;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;;

}
.c1{
    width: 250vw;
    height: 100vh;
    background:#59ff34;;
    color: white;
}
.content{
    width: 26vw;
    font-weight: bolder;
    font-size: 19px;
    position: relative;
    left: 950px;
    bottom: 370px;
}
h1{
    font-size: 75px;
    display: flex;
    position: relative;
    left: 450px;
}
.v1{
    position: relative;
    top: 90px;
    left: 50px;
}
.vi1{
width: 45vw;
}
@media(max-width:480px){
    .head{
        position: relative;
        right: 418px;
    }
h1{
    font-size: 40px;
}
.v1{
    position: relative;
    left: 0px;
    width: 100vw;
    top: 30px;
}
.vi1{
    width: 100vw;
}
.content {
    width: 90vw;
        font-size: 17px;
        position: relative;
        left: 2.4%;
        bottom: -20px;
        text-align: center;
}

}